# Local .terraform directories
.terraform/

# Terraform plan files
*.tfplan

# Terraform state files
*.tfstate
*.tfstate.*

# Sensitive variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Override files (for local-only use)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc
gis-openstack-m07-y25-ec2-principal-20250729115750712200000001.pem 